/* Main body style */
body {
    background-color: rgb(224, 208, 250);
    width: 100%;
    margin:0;

}

/* Sections style */
.section {
    width: 100%;
    padding: 50px;
    height: 290px;
    font-size: flex;
    text-align: center;

}

/* Banner style */
.banner{
    position: relative;
    height: 275px;
    width: 100%;
    padding: 20px;
    background: rgb(182, 141, 255); 
    background-attachment: fixed;
    background-size: cover;
}

/* Banner Header */
.banner h1{
    margin-top: 87px;
    font-size: auto;
    animation: title 1.2s forwards linear
}

/* Fonts for characteristics */
label[for="characteristic"] {
    font-weight: bold;
    font-size: 1.1em; 
}

/* Button styles */
.button {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }

/* Button disableds */
.button:disabled {
    cursor: default;
}
  
/* Button focus */
.button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Margin at the bottom */
.padding{
      margin-bottom: 5px;
}

/* Warning container position */
.warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Warning box style */
.warning-box {
    width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Hide the main content initially */
#main-content {
    display: none;
}

/* Style the button */
#proceed-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* REFERENCES */
/* [1]FreeFrontend, “15+ CSS Banners,” freefrontend.com, Jul. 26, 2023. https://freefrontend.com/css-banners/ */
/* [2]W3SCHOOLS, “CSS Tutorial,” W3schools.com, 2019. https://www.w3schools.com/css/ */
